<!-- ng-swipe-right="prevPage(pageid)" ng-swipe-left="nextPage(pageid)" -->
<!--<select ng-options="page as page.pageNum for page in book.page" ng-model="book.currentPage"></select>-->
<div class="slide" ng-swipe-right="prevPage(pageid)" ng-swipe-left="nextPage(pageid)" style="width:100%;height:100%;">
  <div id="leftColumn" class="leftColumn col-sm-6 col-sm-6-pull" ng-bind-html="book.page[pageid].cola | unsafe"></div>
  <div  id="rightColumn" class="rightColumn col-sm-6 col-sm-6-pull" ng-bind-html="book.page[pageid].colb | unsafe"></div>
  <br clear="all">  
</div>

<button ng-click="prevPage(pageid)">prev</button>
<button ng-click="nextPage(pageid)">next</button>
